/* MOBILE OPTIMIZATION */
body {
background-color: black;
background-position: top;
background-size: 25rem;
background-repeat: no-repeat;
background-image: url('https://wallpapers-hub.art/wallpaper-images/401171.jpg');
background-attachment: fixed;
}
/* body:before {    ****This was Stephan's resource he shared, I need to check the current iteration on
  content: "";      ****Hannah's iPhone before implementing this, because it overrides the background
  display: block;   ****image on all of the other media queries
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('https://static.wikia.nocookie.net/eb767c0a-5730-4705-b804-95bfec07d230/scale-to-width/755') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* 

    background: url('https://static.wikia.nocookie.net/eb767c0a-5730-4705-b804-95bfec07d230/scale-to-width/755') no-repeat center bottom;
    background-size: 60vh;
    /*background-attachment: fixed; */
    /* background-color: #111111;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */ 

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;

}

img {
    border-radius: 5px;
    border: white 2px double;
    height: 200px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: Fuzzy Bubbles;
    font-size: 18px;
    font-weight:bolder;
}

h3{
    font-family: Fuzzy Bubbles;
    font-size: 15px;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
   
    font-family: Fuzzy Bubbles;
}

main {
    font-family: Fuzzy Bubbles;
    font-size: 12px;
}

p {
    margin-right: 100px;
}

/* TABLET OPTIMIZATION */
@media only screen and (min-width: 768px){
    body {
        background-color: black;
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('https://wallpaperaccess.com/full/793618.jpg');
        background-position: fixed;
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;    
    }
    
    img {
        border-radius: 5px;
        border: white 2px double;
        height: 300px;
    }
    
    h1{
        margin-bottom: 0;
        font-family: Fuzzy Bubbles;
        font-size: 34px;
        font-weight:bolder;
    }
    
    h3{
        font-family: Fuzzy Bubbles;
        font-size: 25px;
    }
    
    form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    input {
       
        font-family: Fuzzy Bubbles;
        margin-left: 10px;
        margin-right: 35px;
    }
    
    main {
        font-family: Fuzzy Bubbles;
        font-size: 18px;
        height: 500px;
    }

    p{
        
    }
}

/* DESKTOP OPTIMIZATION */
@media only screen and (min-width: 1024px){
    body {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('https://www.enjpg.com/img/2020/rick-and-morty-8.png');
        background-color: black;
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    img {
        border-radius: 5px;
        border: white 2px double;
        height: 250px;
    }
    
    h1{
        margin-bottom: 0;
        font-family: Fuzzy Bubbles;
    }
    
    h3{
        font-family: Fuzzy Bubbles;
    }
    
    form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    input {
        margin-left: 10px;
        margin-right: 13px;
        font-family: Fuzzy Bubbles;
    }
    p {
        margin: 20px;
    }
}
