/* MOBILE OPTIMIZATION */
html, body {
    margin: 0;
    height: 100%;
    /*overflow: hidden*/
  }

body {
    background-color: black;
    background-position: top;
    background-size: 25rem;
    background-repeat: no-repeat;
    background-image: url('https://wallpapers-hub.art/wallpaper-images/401171.jpg');
    background-attachment: fixed;
}

#home_page{
    color:white;
    display: flex;
    justify-content: center;
    height: 120px;
}

#home_header{
    margin-bottom: 10px;
}

#home_nav{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.home_links{
    font-size: 40px;
}

header{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    height: 5vh;  
    background-color: black;
    width: 101vw;
}

a{
    color: white;
    font-family: Fuzzy Bubbles;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height:30vh;
    margin-top: 0;
}

img {
    border-radius: 5px;
    border: white 2px double;
    height: 200px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    font-family: Fuzzy Bubbles;
    font-size: 18px;
    font-weight:bolder;
}

h3{
    font-family: Fuzzy Bubbles;
    font-size: 15px;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
    font-family: Fuzzy Bubbles;
}

main {
    font-family: Fuzzy Bubbles;
    font-size: 12px;
}

p {
    display: flex;
    font-size: 12px;
    background-color: rgba(0,0,0,.35);
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.explanation{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Fuzzy Bubbles;
    font-size: 12px;
}
.explanation2{
    margin-top: 0;
    font-family: Fuzzy Bubbles;
    font-size: 12px;
    margin-bottom: 0;
}

.random{
    margin-top: 0;
    font-family: Fuzzy Bubbles;
    font-size: 12px;
    margin-bottom: 5px;
}

#pickleRick{
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 5px;
    border: none;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 73px;
    margin-top: 2px;
    margin-bottom: 0px;
    
}
.episodeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}


.episode_div {
    margin: 5px;
    height: 100px;
    grid-template-rows: 80px;
}

#main_small{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#input.button{
    min-width: 60px;
}

.location_small_images{
    margin-left: 5px;
    height: 65px;
}


.episode_images {
    height: 65px;
    grid-template-rows: 80px;
}

#mainInfo{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    font-family: Fuzzy Bubbles;
    margin-top: 0;
    margin-bottom: 12px;
}

.imgInfo{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3px;
    margin-right: 3px;
}

/* TABLET OPTIMIZATION */
@media only screen and (min-width: 768px){
    body {
        background-size: 100%;
        background-image: url('https://wallpaperaccess.com/full/793618.jpg');
    }
    
    img {
        height: 300px;
    }
    
    h1{
        font-size: 34px;
    }
    
    h3{
        font-size: 25px;
    }
    
    input {
        margin-left: 10px;
        margin-right: 35px;
    }
    
    main {
        font-size: 18px;
        height: 500px;
    }

    .explanation, .explanation2{
        font-size: 18px;
    }

    .random{
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    #pickleRick{
        height: 110px;
    }
    
    h3 {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 18px;
    }

    p{
        font-size: 18px;
        margin-bottom: 3px;
    }
    a{
        color: white;
        font-family: Fuzzy Bubbles;
        font-size: 22px;
    }

    .episodeTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-bottom: 0;
    }
    
    .episode_images {
        height: 65px;
        margin: 0;
        grid-template-rows: 80px;
    }
    
    .episode_div {
        margin: 5px;
        height: 100px;
        grid-template-rows: 80px;
    }
    main {
        height: 100px;
        margin-bottom: 20px;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 73px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    #mainInfo{
        width: 500px;
        max-width: 700px;
    }
}

/* DESKTOP OPTIMIZATION */
@media only screen and (min-width: 1024px){
    body {
        background-size: cover;
        background-image: url('https://www.enjpg.com/img/2020/rick-and-morty-8.png');
    }
    
    img {
        height: 250px;
    }
    
    input {
        margin-left: 10px;
        margin-right: 13px;
    }

    p {
        margin: 20px;
        margin-bottom: 5px;
    }

    #pickleRick{
        height: 110px;
    }


    p{
        font-size: 18px;
    }

    a{
        color: white;
        font-family: Fuzzy Bubbles;
        font-size: 22px;
    }

    .episodeTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-bottom: 0;
    }
    
    .episode_images {
        height: 90px;
        margin: 0;
        grid-template-rows: 80px;
        margin-left: 7px;
    }
    
    .episode_div {
        margin: 2px;
        height: 100px;
        grid-template-rows: 80px;
    }
    main {
        height: 100px;
        margin-bottom: 20px;
    }

    #main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 103px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .location_small_images{
        margin-left: 8px;
        height: 90px;
    }
}